.pointer:hover{
    cursor: pointer;
}
.pointer:active{
    transform: translateY(5px);
}
.SearchIcon{
    margin-top: 13px !important;
    margin-left : 8px;
    color: rgba(255,255,255,.5);
}
.selectItem:hover{
    color: whitesmoke;
    background-color: #8b8b8b;
    outline: none !important;
}

.selectItem:focus{
    background-color: #363636;
    color:whitesmoke;
    outline: none;
}