.site{
  overflow: hidden !important;
  max-width: 100% !important;
}

.button:active {
  background-color: rgb(83, 83, 83);
  /* box-shadow: 0 5px rgb(230, 109, 109); */
  transform: translateY(5px);
}
 .marginalignments {
  margin-top:15%;
  margin-left:7%
}
.blue{
  color: #007bff !important;
}
.red{
  color: red !important;
}

/* corosel */
.data{
  background-image:url('./images/mountain.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  z-index: -2;
   /* filter: blur(1px);
  -webkit-filter: blur(2px);  */
  height:100vh !important;
}

.centerLogin{
  width: 420px;
  margin-top: 90px;
}
.cardsText{
  margin-left: 10%;
}
.negativeALert{
  position: absolute;
  margin-bottom: -20%;
}
.imageGrid {
  /* background-color: #004a99; */
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .centerSignup {
    margin-top: -32%;
  }
  .centerLogin{
    margin-top: 30%;
    width: 350px;
  }
}
.footerMyProfile{
  color:#007bff;
}