.site {
  z-index: -2;
  height: 100vh !important;
  background-color: #f8f7f7;
  overflow: hidden;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:active {
  background-color: rgb(83, 83, 83);
  transform: translateY(5px);
}
.marginalignments {
  margin-top: 15%;
  margin-left: 7%;
}
.blue {
  color: #007bff !important;
}
.red {
  color: red !important;
}

.centerLogin {
  width: 400px;
  margin-top: 90px;
}
.cardsText {
  margin-left: 10%;
}
.negativeALert {
  position: absolute;
  margin-bottom: -20%;
}
.imageGrid {
  /* background-color: #004a99; */
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .centerSignup {
    margin-top: -32%;
  }
  .centerLogin {
    margin-top: 30%;
    width: 350px;
  }
}
.footerMyProfile {
  color: #007bff;
}
