.site{
  overflow: hidden !important;
  max-width: 100% !important;
}

.button:active {
  background-color: rgb(83, 83, 83);
  /* box-shadow: 0 5px rgb(230, 109, 109); */
  transform: translateY(5px);
}
 .marginalignments {
  margin-top:15%;
  margin-left:7%
}
.blue{
  color: #007bff !important;
}
.red{
  color: red !important;
}

/* corosel */
.data{
  background-image:url('./images/mountain.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  z-index: -2;
   /* filter: blur(1px);
  -webkit-filter: blur(2px);  */
  height:100vh !important;
}

/* particles css*/
.anchor{
  margin-left: 10%;
}

.centerLogin{
 margin-top:15%;
 margin-left: 35%;
 margin-right:20%;
 text-align: center;
 vertical-align: middle;
}
